---
---
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="manifest.json">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#cc0000">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/v/dt/dt-1.10.12/r-2.1.0/sc-1.4.2/datatables.min.css" />
  <link rel="stylesheet" href="css/main.css">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <h1 class="title">Who Dumped Trump? 💔</h1>
    <p class="lead">You deserve to know. Below you'll find where each of the Republican candidates running for House, Senate and Governor seats this year stand on <a href="https://www.washingtonpost.com/politics/trump-recorded-having-extremely-lewd-conversation-about-women-in-2005/2016/10/07/3b9ce776-8cb4-11e6-bf8a-3d26847eeed4_story.html">Trump's infamous bus comments.</a></p>
  </header>

  <section class="charts-section" style="display: none;">
    <div class="circle-chart-container">
      <div class="circle-chart" id="chart1"></div>
    </div>
    <div class="circle-chart-container">
      <div class="circle-chart" id="chart2"></div>
    </div>
    <div class="circle-chart-container">
      <div class="circle-chart" id="chart3"></div>
    </div>
  </section>

  <section class="table-section">
    <table class="js-retractions-table retractions-table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Position/Office</td>
          <td>State/District</td>
          <td>Denounced?</td>
          <td>Unendorsed?</td>
          <td>Source</td>
        </tr>
      </thead>
      <tbody>
        {% for retraction in site.data.retractions %}
          <tr>
            <td>{{ retraction.name }}</td>
            <td>{{ retraction.office }}</td>
            <td>{{ retraction.statedistrict }}</td>
            {% capture denounced %}{{ retraction.denounced | strip }}{% endcapture %}
            {% capture unendorsed %}{{ retraction.unendorsed | strip }}{% endcapture %}
            {% if denounced == 'Yes' %}
              <td class="cell-yes">Yes</td>
            {% else %}
              <td class="cell-no">No</td>
            {% endif %}
            {% if unendorsed == 'Yes' %}
              <td class="cell-yes">Yes</td>
            {% else %}
              <td class="cell-no">No</td>
            {% endif %}
            <td>
              {% if retraction.sources %}
                <a href="{{ retraction.sources }}">
                  {{
                    retraction.sources |
                      replace: 'http://', '' |
                      replace: 'https://', '' |
                      replace: 'www.', '' |
                      split: '/' |
                      first
                  }}
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <footer>
    Brought to you by <a href="https://devprogress.us">DevProgress</a>.
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="//cdn.datatables.net/v/dt/dt-1.10.12/r-2.1.0/sc-1.4.2/datatables.min.js"></script>
  <script src="//www.gstatic.com/charts/loader.js"></script>
  <script>
    window.tableData = [
      {% for retraction in site.data.retractions %}
      {
        office: "{{ retraction.office }}",
        denounced: "{{ retraction.denounced }}",
        unendorsed: "{{ retraction.unendorsed }}",
      },
      {% endfor %}
    ]
  </script>
  <script src="js/main.js"></script>
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','{{ site.google_analytics_id }}','auto');ga('send','pageview');
  </script>
</body>
</html>
